<p id="notice"><%= notice %></p>

<h1>Type your questions here and we will try to get back to you!</h1>

<hr> 



  <div>
    <% @questions.each do |question| %>
      <div class="content">
        <p><%= link_to 'Show', question %></p>
        <p><%= link_to 'Edit', edit_question_path(question) %></p>
        <p><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you extremely certain?' } %></p>
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'Submit Question', new_question_path %>