<h1>This is the wrong number the wrong number song</h1>
<p>We're very very sorry that we got it wrong</p>

<%= link_to "Go Back!", portfolios_url %>


<%= form_for(@portfolio_item) do |f| %>
 <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
 <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>