
     <div class="<%=location%>">
         <%= link_to "Home", home_path %> 
         <%= link_to "Contact", contact_path %> 
         <%= link_to "About", about_path %> 
         <%= link_to "Portfolios", portfolios_url %> 
         <%= link_to "Blogs", blogs_path %> 
      </div>
     